doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/screen.css')
  body
    block content
    script(type='text/javascript', data-main='lib/main.js', src='lib/require.js')